document:before,
div.document:before {
    content       : attr(title) ;
    font-size     : 3em ;
    font-family   : TextBold ;
    margin-bottom : -0.5em ;
    display       : block ;
}

document,
div.document {
    font-family : "XITS", TextNormal ;
    font-size   : 10pt ;
    text-align  : justify ;
    hyphens     : auto ;
    zoom        : 1.200 ;
}

listcontent,
div.listcontent {
    font-family : "Lato", TextNormal ;
    display : inline ;
    color: blue;
}

highlight[detail="bold"],
div.highlight.bold {
    display      : inline ;
    font-style   : bold ;
    font-variant : bold ;
    font-weight  : 800 ;
    font-family  : "XITS", TextBold ;
    color        : rgb(0%,0%,0%) ;
    zoom         : 1.100 ;
}

highlight[detail="emph"],
div.highlight.emph {
    display      : inline ;
    font-style   : italic ;
    font-variant : italic ;
    font-weight  : normal ;
    font-family  : "XITS", TextItalic ;
    color        : rgb(0%,0%,0%) ;
    zoom         : 1.100 ;
}

math {
    font-family : "XITS Math", MathNormal ;
    font-style  : normal ;
}

math[data-lmtx-family="bold"] {
    font-family : "XITS Math", MathNormal ;
	font-weight : 900 ;
}

construct[detail="important"],
div.construct.important {
    font-family : "XITS", TextNormal ;
    font-style  : bold ;
}

construct[detail="Encart"],
div.construct.Encart {
    background-image: linear-gradient(to right, #00ffff, #aaffff);
    display      : inherit ;
    font-style   : inherit ;
    font-variant : inherit ;
    font-weight  : inherit ;
    font-family  : inherit ;
    color        : rgb(0%,0%,0%) ;
}

section[chain~="title"]>sectioncaption,
div.level-2.title div.sectioncaption {
    font-family : "XITS", TextNormal ;
    font-size   : 20pt ;
	font-weight : 600 ;
}

section[chain~="chapter"]>sectioncaption,
div.level-2.chapter div.sectioncaption {
    font-family : "Lato", TextNormal ;
    font-size   : 16pt ;
	font-weight : 600 ;
}

section[chain~="section"]>sectioncaption,
div.level-2.chapter div.sectioncaption {
    font-family : "Lato", TextNormal ;
    font-size   : 16pt ;
	font-weight : 600 ;
}

div.level-3.section div.sectioncaption {
    font-family : "Lato", TextNormal ;
    font-size   : 14pt ;
	font-weight : 600 ;
}

div.level-4.subsection div.sectioncaption {
    font-family : "Lato", TextNormal ;
    font-size   : 12pt ;
	font-weight : 600 ;
}

div.level-5.subsubsection div.sectioncaption {
    font-family : "Lato", TextNormal ;
    font-size   : 11pt ;
	font-weight : 600 ;
}

listitem[detail="chapter"]>listtag,
div.listitem.chapter > div.listtag {
    margin-left : -2em ;
}

listitem[detail="section"]>listtag,
div.listitem.section > div.listtag {
    margin-left : -2.5em ;
}

listitem[detail="subsection"]>listtag,
div.listitem.subsection > div.listtag {
    margin-left : -3em ;
}

listitem[detail="section"],
div.listitem.section {
    margin-left : 2.5em ;
}

listitem[detail="subsection"],
div.listitem.subsection {
    margin-left : 3em ;
}

listitem[detail="chapter"],
div.listitem.chapter {
    display     : block ;
    margin-top  : 0.5em ;
    margin-left : 2em ;
}

descriptiontag,
div.descriptiontag {
    display      : inline ;
    margin-right : 0em ;
    font-family  : "XITS", TextBold ;
    font-weight: bold;
    font-size    : 10pt ;
}

descriptioncontent,
div.descriptioncontent {
    display     : inline ;
    font-size   : 10pt ;
}
